@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,italic,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial:regular');
@import url('https://fonts.googleapis.com/css?family=Montserrat:,300,regular,500,700,900,300italic,500italic');

colgroup {
  color: #AFB4C4;
  /* gray - text */
  color: #142251;
  /* dark blue - text */
  color: #00B050;
  /* green - icons */
  color: #213887;
  /* background - fon*/
  color: #F2F3F8;
  /* header - background */
  color: #F5F6F8;
  /* some other - background */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #142251;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  color: #142251;
}

/* HEADER ------------------------------------------------------ */

.Header {
  padding: 20px 0;
  background: #f3f6f9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.Header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 75px;
  height: 52px;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #142251;
  letter-spacing: 0.45px;
}

.menu__link:hover {
  font-weight: 700;
  text-decoration: underline;
  transition: 0.3s;
}

/* HEADER END------------------------------------------------------- */
/* FOOTER ---------------------------------------------------------- */
.footer__main {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.main__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.main__text {
  letter-spacing: 150%;
  line-height: -0.03em;
  padding: 20px 0;
}

.main__link {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.main__link a {
  display: flex;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.main__link a:hover {
  transition: 0.3s;
  color: #00B050;
}

.main__social {
  padding-top: 10px;
}

.social__icon img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  gap: 10px;
}

.footer_title {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 15px;
}

.footer__ul {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  padding: 15px 0;
}

.footer__link {
  font-weight: 600;
}

.footer__link a:hover {
  transition: 0.3s;
  color: #00B050;
}

hr {
  border: 1.2px solid;
}

.footer__last {
  text-align: center;
  padding: 8px 0;
}

/* FOOTER END ---------------------------------------------------------- */
.container {
  max-width: 1245px;
  margin: 0px auto;
  padding: 0 15px;
}

.title {
  border-radius: 50px 50px 0 0;
  background: #f3f6f9;
}

h3 {
  font-size: 42px;
  letter-spacing: -0.04em;
  font-weight: 500;
  line-height: 100%;
  padding: 40px;
}

.back__button {
  display: inline-block;
  text-align: center;
}

.service,
.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__main,
.product__mian {
  text-align: center;
  background: #ffffff;
  border-radius: 30px;
  background: #f3f6f9;
  border-radius: 50px 50px;
  padding: 5px 5px 35px 5px;
}

.service__main:hover{
  outline: 1px solid #142251;
}

.service__main img {
  width: 140px;
}

.service__main-title,
.product__main-title {
  padding: 30px 0;
  letter-spacing: 0.03em;
}

.service__main-text,
.product__main-text {
  font-size: 16px;  
}

.service__main-text ul{
  display: flex;
  flex-direction: column;
}

.service__main-text ul {
  text-align: left;
}

.service__main-descr,
.product__main-descr {
  width: 275px;
  margin: 0 auto 30px;
}

.service__main-link {
  /*  */
}

/* HERO ------------------------------------------------------------- */

.hero {
  height: 100vh;
  display: flex;
}

i {
  border: solid #00B050;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  align-items: center;
}

.hero__span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.hero__main-miniTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  word-spacing: 2px;
  letter-spacing: 0.30px;
  color: #AFB4C4;
  align-items: center;
  margin-top: 20px;
}

.hero .container {
  display: flex;
  align-items: center;
}

.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero__main-title {
  color: #142251;
  font-weight: 500;
  font-size: 104px;
  line-height: 97px;
  display: flex;
  flex-direction: column;
}

.hero__main-span {
  color: #AFB4C4;
}

.hero__next {
  border: none;
  width: 75px;
  height: 75px;
  background: transparent url('../logos/next.png') center center no-repeat;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
}

/* HERO END ------------------------------------------------------------- */

.feedback__button {
  padding: 15px 50px;
  border-radius: 12px;    
  font-size: 20px;
  background-color: #f3f6f9;
}

.feedback__button:hover {
  background-color: #142251;
  color: #f3f6f9;
  font-weight: 700;
  transition: 0.3s;
}