.projects {
    background: #f3f6f9;
    background-image: url('../logos/projects__bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: scroll;
    padding-bottom: 30px;
}

.projects__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.projects__content {
    display: flex;
    flex-direction: column;
    max-width: 395px;
    height: 195px;
    background: #ffffff;
    border-radius: 30px;
    margin-top: 20px;
    position: relative;
}

.projects__text {
    padding: 30px 25px 25px 35px;
}

.projects__text span {
    color: #00B050;
    font-weight: 500;
}

.projects__span {
    position: absolute;
    bottom: 30px;
    right: 40%;
    transition: 0.25s;
    font-weight: 500;
    color: #142251
}

.projects__span:hover {
    font-size: 17px;
    font-weight: 600;
}



@media only screen and (max-width: 1250px) {
    .projects__main {
        justify-content: space-around;
    }

    .projects__content {
        max-width: 425px;
    }
}